* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.app__left {
  flex: 0.8;
}

.app__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}